@using Web.Extensions;
@model string;

@{
    string currentUserId = User.Identity.GetUserId();
    string currentUserTag = User.Identity.GetUserId();
    string userTag = Model;
}

<div class="text-center mt-4">
    <h2>Просмотр постов @userTag</h2>
</div>
<div class="mt-4" id="newsFeed"></div>
<div class="text-center">
    <button id="loadMorePosts" class="btn btn-primary mt-3" style="display: none;"
        onclick="getUserPosts('@(userTag)', '@(currentUserTag)')">Загрузить больше</button>
    <div id="noMorePostsMessage" class="text-muted mt-3" style="display: none;">Больше постов нет.</div>
</div>

<script src="~/js/likes/likePost.js"></script>
<script src="~/js/comments/loadComments.js"></script>
<script src="~/js/comments/deleteComment.js"></script>
<script src="~/js/comments/addComment.js"></script>
<script src="~/js/profile/getUserPosts.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        getUserPosts('@(userTag)', '@(currentUserTag)');
    });

    $(window).on('scroll', function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
            getUserPosts('@(userTag)', '@(currentUserTag)');
        }
    });
</script>