@model Web.Models.AccountDtoModels.RegisterModelDto;
@{
    ViewData["Title"] = "Регистрация";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Регистрация</h5>
                    <form asp-action="RegisterUser" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Username, "Логин", new { @class = "control-label" })
                            <input asp-for="Username" class="form-control" type="text" id="inputUsername"
                                placeholder="Введите логин" required />
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.UserTag, "Тег пользователя", new { @class = "control-label" })
                            <input asp-for="UserTag" class="form-control" type="text" id="inputUserTag"
                                placeholder="Введите тег пользователя" required />
                            @Html.ValidationMessageFor(m => m.UserTag, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, "Имя", new { @class = "control-label" })
                            <input asp-for="FirstName" class="form-control" type="text" id="inputFirstName"
                                placeholder="Введите имя" required />
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, "Фамилия", new { @class = "control-label" })
                            <input asp-for="LastName" class="form-control" type="text" id="inputLastName"
                                placeholder="Введите фамилию" required />
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, "Почта", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, "", new
                                {
                                    @class = " form-control",
                                    required = true,
                                    id = "inputEmail",
                                    placeholder = "Введите почту"
                                })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, "Пароль", new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new
                                {
                                    id = "inputPassword",
                                    @class = "form-control",
                                    required = true,
                                    placeholder = "Введите пароль"
                                })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.Logo, "Фотография пользователя", new { @class = "form-label" })
                                @Html.TextBoxFor(m => m.Logo, new
                                    {
                                        @class = "form-control",
                                        type = "file",
                                        accept = "image/*",
                                        id = "inputLogo"
                                    })
                                <!-- Превью изображения -->
                                <img id="imagePreview" src="#" alt="Превью изображения"
                                    style="display: none; max-width: 100%; margin-top: 10px;" />
                            </div>
                        </div>

                        <button class="btn w-100 btn-outline-primary btn-block text-uppercase mt-2"
                            type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Скрипт для отображения превью изображения -->
<script>
    document.getElementById('inputLogo').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const preview = document.getElementById('imagePreview');
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            document.getElementById('imagePreview').style.display = 'none';
        }
    });
</script>