@using System.Security.Claims
@using Humanizer
@model Web.Models.NewsFeedDto;

@{
    ViewData["Title"] = "Home Page";
    string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}
<div class="container mt-4">
    <div class="row g-4">
        <!-- Левая колонка (Профиль) -->
        <div class="col-lg-3">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <img loading="lazy" src="@Model.ImagePath" class="rounded-circle mb-3 img-thumbnail"
                        alt="Profile Image">
                    <h5>@User.Identity.Name</h5>
                    <p class="text-muted">@@ivan_ivanov</p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6 class="mb-0">250</h6>
                            <small>Друзей</small>
                        </div>
                        <div>
                            <h6 class="mb-0">1.2K</h6>
                            <small>Подписчиков</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="row-lg-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <img loading="lazy" src="@Model.ImagePath" style="width: 60px; height: 60px;"
                                class="rounded-circle me-3 img-thumbnail" alt="Profile">
                            <textarea class="form-control" rows="2" placeholder="Что у вас нового?"
                                id="feedTextArea"></textarea>
                        </div>
                        <div class="mt-2 d-flex justify-content-between">
                            <div>
                                <button class="btn btn-outline-secondary btn-sm me-2">
                                    <i class="fas fa-image"></i> Фото
                                </button>
                                <button class="btn btn-outline-secondary btn-sm">
                                    <i class="fas fa-video"></i> Видео
                                </button>
                            </div>
                            <button class="btn btn-primary btn-sm"
                                onclick="publishPost('@(userId)', '@Model.ImagePath', '@User.Identity.Name')">Опубликовать</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="newsFeed"></div>
            <div class="text-center">
                <button id="loadMorePosts" class="btn btn-primary mt-3" style="display: none;"
                    onclick="loadPosts('@(userId)')">Загрузить больше</button>
                <div id="noMorePostsMessage" class="text-muted mt-3" style="display: none;">Больше постов нет.</div>
            </div>
        </div>

        <!-- Правая колонка (Друзья/Группы) -->
        <div class="col-lg-3">
            <div class="card mb-3">
                <div class="card-header">
                    Активные друзья
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        @* <img loading="lazy" src="https://via.placeholder.com/40" class="rounded-circle me-2" alt="Profile"> *@
                        <div>
                            <h6 class="mb-0">Мария Сидорова</h6>
                            <small class="text-muted">Online</small>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        @* <img loading="lazy" src="https://via.placeholder.com/40" class="rounded-circle me-2" alt="Profile"> *@
                        <div>
                            <h6 class="mb-0">Петр Васильев</h6>
                            <small class="text-muted">Был(а) 5 мин назад</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        const userId = '@(userId)';
        loadPosts(userId);
    });

    $(window).on('scroll', function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
            const userId = '@(userId)';
            loadPosts(userId);
        }
    });


</script>

<script src="~/js/posts/publishPost.js"></script>
<script src="~/js/posts/loadPosts.js"></script>